<div class="main">
  <div class="leftBlock">
    <div class="searchPlace">
      <div class="myPhoto">
        <img src="https://image.flaticon.com/icons/png/512/149/149071.png" alt="">
      </div>
      <div class="searchArea">
        <input [(ngModel)]="searchField" name="searchField" class="searhInput" type="text"
          placeholder="Search or start new chat">
      </div>
    </div>
    <div class="myContacts">
      <div class="title">
        <span>Chats</span>
      </div>
      <ol class="listContact">
        <li *ngFor="let contact of arrContacts | search:searchField;let i = index">
          <div (click)="choseContact(contact.id)" class="contactsBlock">
            <div class="contactsPhoto">
              <div class="photo">
                <img [src]="contact.image" alt="">
              </div>
            </div>
            <div class="nameText">
              <div class="name">
                <span>{{contact.userName}}</span>
              </div>
              <div class="mesText">
                <p>{{contact.messages[contact.messages.length-1].message}}</p>
              </div>
            </div>
            <div class="date">
              <span>{{contact.messages[contact.messages.length-1].creationDate | date:'mediumDate':'MMM d, y'}}</span>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="rightBlock">
    <app-message></app-message>
  </div>
</div>